<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/checkout.css" rel="stylesheet"><meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayByBank</title>
</head>
<body>

<div id="container">

    <div id="left-column">
        <div id="logo">
            <img src="/img/paybybank.png" alt="PayByBank">
        </div>
        <div id="payment-order-info">
            <div id="merchant-info">
                <span id="order-description">Order#19387</span>
                <span id="merchant-name">{{ merchantName }}</span>
            </div>

            <div id="amount">
                <span>{{ amount }}</span>
            </div>

        </div>
    </div> <!--left-column-->

    <div id="right-column">
        <div id="payment-methods">

        </div>
    </div>
    {% for bankCode in bankCodes %}
    {% endfor %}
</div>

</body>
</html>