<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link href="/css/checkout.css" rel="stylesheet">
    <link href="/css/loading.css" rel="stylesheet">
    <link href="/css/error-modal.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayByBank</title>
</head>
<body>
    {% include 'loading.twig' %}

    <div id="header" class="flex">
        <div id="logo" class="flex align-items-center">
            <span>PayByBank</span>
        </div>
    </div>

    <div id="grid-container">
        <div id="left-column" class="flex justify-content-center">
            <div id="payment-order-info" class="flex align-items-center">
                <span id="description">{{ description }}</span>
                <span id="merchant-name">{{ merchantName }}</span>
                <span id="amount">{{ amount }} €</span>
            </div>
        </div>

        <div id="right-column" class="flex justify-content-center">
            <div id="payment-methods-container" class="flex align-items-center">
                <div id="payment-methods-container-title" class="flex align-items-center ">
                    <span>Payment methods</span>
                </div>
                <div id="payment-methods">
                    {% for bankCode in bankCodes %}
                        {% include 'payment_methods/' ~ bankCode  ~ '.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="flex justify-content-center align-items-center">
        <span>Powered by Nikos Rigas</span>
    </div>
</body>
</html>