<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/checkout.css" rel="stylesheet"><meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayByBank</title>
</head>
<body>

<div id="container">
    <div id="left-column">
        <div id="logo">
            <img src="/img/paybybank.png" alt="PayByBank">
        </div>
        <div id="payment-order-info">
            <div id="merchant-info">
                <span id="order-description">Order#19387</span>
                <span id="merchant-name">{{ merchantName }}</span>
            </div>
            <div id="amount">
                <span>{{ amount }}</span>
            </div>
        </div>
    </div>
    <div id="right-column">
        <div id="payment-methods-container">
            <div id="payment-methods-title">
                <span>Choose Payment Method</span>
            </div>
            <form method="POST" id="sca-redirect-form">
                <div id="payment-methods">
                    {% for bankCode in bankCodes %}
                    <div class="payment-method">
                        <input type="checkbox" name="payment_method" value="{{ bankCode}}" id="{{ bankCode}}" />
                        <label for="{{ bankCode}}">
                            <img src="/img/{{bankCode}}.png" alt="{{bankCode}}"/>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div id="sca-redirect-btn-container">
                    <button type="button">Pay</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>