<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayByBank</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

        html, body {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin: 0;
        }
        #container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            height: 10vh;
            width: 12vw;
        }

        span {
            font-size: 2vh;
            margin-top: 5vh;
            font-weight: 300;
        }
    </style>
</head>
<body>
<div id="container">
    <img src="/img/tick.png"/>
    <span>Payment successful</span>
</div>
</body>
</html>