<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayByBank Iframe</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<div class="container">

    {% for bankAccount in bankAccounts %}

    <div class="form-check">
        <input class="form-check-input" type="radio" name="bankCode" id="flexRadioDefault1" value="{{ bankAccount['bankCode'] }}">
        <label class="form-check-label" for="flexRadioDefault1">
            <img src="/img/abna.svg" alt="aa"/>
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="bankCode" id="flexRadioDefault1" value="{{ bankAccount['bankCode'] }}">
        <label class="form-check-label" for="flexRadioDefault1">
            <img src="/img/abna.svg" alt="aa"/>
        </label>
    </div>


    {% endfor %}
</div>



</body>
</html>